body{
    background-color: aliceblue;
}
h1{
    color:#005451;
}
a{
    color: #005451;
    text-decoration: none;
}
button {
    border-radius: 5px;
    border: solid 1px #005451;
    background-color: aliceblue;
    color: #005451;
    width: 70px;
    height: 30px;
}
input{
    border-radius: 5px;
    border: solid 1px #005451;
    background-color:aliceblue;
    color: #005451;
    height: 30px;  
    margin-right: 10px;
}